run = "npm run start"
entrypoint = "app/page.tsx"
hidden = [".next", "node_modules"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[nix]
channel = "stable-22_11"

[env]
NEXT_PUBLIC_REPLIT = "true"
PORT = "3000"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = true

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]