run = "git pull origin main && rm -rf .next node_modules && npm install --legacy-peer-deps && npm run build && npm run start"

[nix]
channel = "stable-22_11"

[env]
PORT = "3000"
NODE_ENV = "production"

[[ports]]
localPort = 3000
externalPort = 80