run = "npm run start"
modules = ["nodejs-20:v8-20240808-44c19a9"]
hidden = [".config", "package-lock.json", ".next", "node_modules", ".git"]
compile = "npm run build"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[deployment]
run = ["sh", "-c", "npm run build:replit && npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false
buildCommand = "npm install --force && npm run build:replit"

[[ports]]
localPort = 3008
externalPort = 3008

[nix]
channel = "stable-23_11"

[env]
NODE_ENV = "production"
DATABASE_PATH = "./kid-text-battle.db"
PORT = "3008"
NEXT_TELEMETRY_DISABLED = "1"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[unitTest]
language = "nodejs"